In [1]:
import pandas as pd
import os

In [2]:
# Get the month priority from the filename to sort the files
def get_month(filename):
    month_mapping = {
        'January': 1,
        'February': 2,
        'March': 3,
        'April': 4,
        'May': 5,
        'June': 6,
        'July': 7,
        'August': 8,
        'September': 9,
        'October': 10,
        'November': 11,
        'December': 12
    }
    month_name = filename.split('_')[1]
    return month_mapping[month_name]

In [3]:
# Read the csv files from the Sales_Data folder
files = [file for file in os.listdir('SalesAnalysis/Sales_Data')]

# Sort the files based on the month name
sorted_files = sorted(files, key=get_month)

all_months_data = pd.DataFrame()

# Print the sorted files
for file in sorted_files:
    df = pd.read_csv('SalesAnalysis/Sales_Data/' + file)
    all_months_data = pd.concat([all_months_data, df])

### Clean the data

In [4]:
all_months_data = all_months_data.dropna(how='all')

# drop those rows where Order Date is Order Date

### Save the data to a csv file

In [5]:
all_months_data.to_csv('SalesAnalysis/Output/all_data.csv', index=False)

### Set low memory to False

In [6]:
all_data = pd.read_csv('SalesAnalysis/Output/all_data.csv', low_memory=False)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,1/22/2019 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,1/28/2019 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,1/17/2019 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,1/5/2019 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,1/25/2019 11:59,"387 10th St, Austin, TX 73301"

In [7]:
# Check Order Date column has any value named Order Date
all_data[all_data['Order Date'] == 'Order Date']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1069,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1098,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1190,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1890,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2456,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
184389,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184527,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
184938,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185381,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185411,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

### Covert Quantity Ordered and Price Each to numeric

In [8]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'], errors='coerce')
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'], errors='coerce')

### Adding a month column

In [9]:
# month is 01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12
# if order date is 1/25/19 13:05, then add 01
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,141234,iPhone,1.0,700.00,1/22/2019 21:25,"944 Walnut St, Boston, MA 02215",1/
1,141235,Lightning Charging Cable,1.0,14.95,1/28/2019 14:15,"185 Maple St, Portland, OR 97035",1/
2,141236,Wired Headphones,2.0,11.99,1/17/2019 13:33,"538 Adams St, San Francisco, CA 94016",1/
3,141237,27in FHD Monitor,1.0,149.99,1/5/2019 20:33,"738 10th St, Los Angeles, CA 90001",1/
4,141238,Wired Headphones,1.0,11.99,1/25/2019 11:59,"387 10th St, Austin, TX 73301",1/

## Question 1: What was the best month for sales? How much was earned that month?

### add a sales column

In [10]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
# I want to see first 100 rows
all_data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,141234,iPhone,1.0,700.00,1/22/2019 21:25,"944 Walnut St, Boston, MA 02215",1/,700.00
1,141235,Lightning Charging Cable,1.0,14.95,1/28/2019 14:15,"185 Maple St, Portland, OR 97035",1/,14.95
2,141236,Wired Headphones,2.0,11.99,1/17/2019 13:33,"538 Adams St, San Francisco, CA 94016",1/,23.98
3,141237,27in FHD Monitor,1.0,149.99,1/5/2019 20:33,"738 10th St, Los Angeles, CA 90001",1/,149.99
4,141238,Wired Headphones,1.0,11.99,1/25/2019 11:59,"387 10th St, Austin, TX 73301",1/,11.99
...,...,...,...,...,...,...,...,...
186300,319666,Lightning Charging Cable,1.0,14.95,12/11/19 20:58,"14 Madison St, San Francisco, CA 94016",12,14.95
186301,319667,AA Batteries (4-pack),2.0,3.84,12/01/19 12:01,"549 Willow St, Los Angeles, CA 90001",12,7.68
186302,319668,Vareebadd Phone,1.0,400.00,12/09/19 06:43,"273 Wilson St, Seattle, WA 98101",12,400.00
186303,319669,Wired Headphones,1.0,11.99,12/03/19 10:39,"778 River St, Dallas, TX 75001",12,11.99
186304,319670,Bose SoundSport Headphones,1.0,99.99,12/21/19 21:45,"747 Chestnut St, Los Angeles, CA 90001",12,99.99

In [11]:
### Best month for sales
all_data.groupby('Month').sum()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Sales
Month,,,,,,,
01,2971502978172978172979692983442990492991253003...,Lightning Charging CableiPhoneLightning Chargi...,41.0,8503.40,01/01/20 00:3801/01/20 00:2201/01/20 00:2201/0...,"427 Wilson St, Dallas, TX 75001519 13th St, Ne...",8670.29
02,1505021505031505041505051505061505071505081505...,iPhoneAA Batteries (4-pack)27in 4K Gaming Moni...,13443.0,2187136.04,02/18/19 01:3502/13/19 07:2402/18/19 09:4602/0...,"866 Spruce St, Portland, ME 0410118 13th St, S...",2200273.74
03,1505331505411508121517491520361532841535441538...,AAA Batteries (4-pack)AAA Batteries (4-pack)Wi...,17005.0,2791207.83,03/01/19 03:0603/01/19 01:0303/01/19 02:1803/0...,"270 Dogwood St, San Francisco, CA 94016683 Ada...",2807100.38
04,1623581625411650071656221662501663091665671672...,Flatscreen TVAAA Batteries (4-pack)34in Ultraw...,20558.0,3367671.02,04/01/19 01:1104/01/19 01:1504/01/19 00:1204/0...,"444 12th St, New York City, NY 10001672 2nd St...",3390670.24
05,1769781775511777781777781790761790761791341800...,Apple Airpods Headphones27in FHD MonitoriPhone...,18667.0,3135125.13,05/01/19 03:2905/01/19 00:1305/01/19 00:4805/0...,"589 Lake St, Portland, OR 97035615 Lincoln St,...",3152606.75
06,1957481958691960721961321966381966391976981990...,27in FHD MonitorAAA Batteries (4-pack)Lightnin...,15253.0,2562025.61,06/01/19 03:2606/01/19 01:0606/01/19 00:1806/0...,"856 Elm St, San Francisco, CA 94016877 Center ...",2577802.26
07,2116652117902126042136602136992140992140992149...,27in FHD MonitorAAA Batteries (4-pack)27in FHD...,16072.0,2632539.56,07/01/19 00:5407/01/19 02:0507/01/19 00:5007/0...,"300 9th St, San Francisco, CA 94016791 13th St...",2647775.76
08,2237102255412256582271152275212275212277322296...,Bose SoundSport Headphones27in 4K Gaming Monit...,13448.0,2230345.42,08/01/19 01:5608/01/19 01:1508/01/19 01:1408/0...,"882 Lake St, San Francisco, CA 94016480 Spruce...",2244467.88
09,2388342392852406362410542423432428652436672449...,Apple Airpods Headphones34in Ultrawide Monitor...,13109.0,2084992.09,09/01/19 04:1309/01/19 01:0909/01/19 02:0709/0...,"761 Forest St, San Francisco, CA 94016373 1st ...",2097560.13
1/,1412341412351412361412371412381412391412401412...,iPhoneLightning Charging CableWired Headphones...,10862.0,1803264.98,1/22/2019 21:251/28/2019 14:151/17/2019 13:331...,"944 Walnut St, Boston, MA 02215185 Maple St, P...",1813586.44
10,2486432501392501392502752506842512432521642522...,Lightning Charging CableGoogle PhoneUSB-C Char...,22703.0,3715554.83,10/01/19 01:3610/01/19 00:5310/01/19 00:5310/0...,"321 Chestnut St, Austin, TX 73301132 10th St, ...",3736726.88
11,2611272617352629282631622636192644072661352680...,34in Ultrawide MonitorBose SoundSport Headphon...,19798.0,3180600.68,11/01/19 01:4911/01/19 00:1011/01/19 02:3311/0...,"917 Madison St, Seattle, WA 98101582 Spruce St...",3199603.20
12,2790952799822802752808092826752830952836892838...,AA Batteries (4-pack)Bose SoundSport Headphone...,28114.0,4588415.41,12/01/19 01:1312/01/19 04:0712/01/19 00:3712/0...,"134 North St, San Francisco, CA 94016174 Sunse...",4613443.34
2/,145212145372146442147309147663148987,Lightning Charging CableAAA Batteries (4-pack)...,6.0,1748.68,2/1/2019 0:362/1/2019 4:022/1/2019 1:482/1/201...,"484 6th St, Dallas, TX 75001459 West St, Dalla...",1748.68
Or,Order IDOrder IDOrder IDOrder IDOrder IDOrder ...,ProductProductProductProductProductProductProd...,0.0,0.00,Order DateOrder DateOrder DateOrder DateOrder ...,Purchase AddressPurchase AddressPurchase Addre...,0.00