In [4]:
import pandas as pd

# Your data
data = {'Order Date': ['1/22/2019 21:25', '1/28/2019 14:15', '02/17/2019 13:33',
                        '03/5/2019 20:33', '1/25/2019 11:59', '12/29/2019 20:22']}

# Create a DataFrame
df = pd.DataFrame(data)

df

         Order Date
0   1/22/2019 21:25
1   1/28/2019 14:15
2  02/17/2019 13:33
3   03/5/2019 20:33
4   1/25/2019 11:59
5  12/29/2019 20:22

In [5]:
# Convert 'Order Date' to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y %H:%M')

df

           Order Date
0 2019-01-22 21:25:00
1 2019-01-28 14:15:00
2 2019-02-17 13:33:00
3 2019-03-05 20:33:00
4 2019-01-25 11:59:00
5 2019-12-29 20:22:00

In [6]:
# Extract month and store in 'Month' column
df['Month'] = df['Order Date'].dt.month
df

           Order Date  Month
0 2019-01-22 21:25:00      1
1 2019-01-28 14:15:00      1
2 2019-02-17 13:33:00      2
3 2019-03-05 20:33:00      3
4 2019-01-25 11:59:00      1
5 2019-12-29 20:22:00     12

In [ ]:
# Reformat to have leading zeros if needed
df['Month'] = df['Month'].apply(lambda x: f'{x:02d}')

# Display the resulting DataFrame
print(df)